@import "../../variables.scss";
.control-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 5px 0;

  .volume-container {
    display: flex;
    align-items: center;

    input {
      &[type="range"] {
        width: 75px;
        -webkit-appearance: none;
        height: 4px;
        background-color: $green;
        outline-color: transparent;
      }

      &:focus {
        outline-color: transparent;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: $green;
        border-radius: 12px;
        overflow: visible;
      }
    }
  }
}
